<div class="poll-card">
  <h2>Pronostiquer les HUITIEMES de finale de l'Euro 2024</h2>
  <a routerLink="/polls">Back</a>
  <br>
  <br>
  <p><b>HUITIEMES</b> de finale du samedi <b>29 juillet 2024</b></p>
  <p>2ième GROUPE A - à	18h00 -	2ième GROUPE B</p>
  <p>1er GROUPE A - à	21h00 -	2ième GROUPE C</p>
  <br>
  <p>Les équipes en coucurrences dans le <b>GROUPE A</b> sont les suivantes :</p>
  <p style=" display: inline-block; margin-left: 60px; margin-right: 60px">ALLEMAGNE</p>
  <p style=" display: inline-block; margin-left: 80px; margin-right: 60px">ÉCOSSE</p>
  <p style=" display: inline-block; margin-left: 80px; margin-right: 60px">HONGRIE</p>
  <p style=" display: inline-block; margin-left: 85px; margin-right: 60px">SUISSE</p>
  <div class="image-container">
    <img src="{{FlagAlle}}" width="200" height="110" style="margin-right: 10px">
    <img src="{{FlagEcos}}" width="200" height="110" style="margin-right: 10px">
    <img src="{{FlagHong}}" width="200" height="110" style="margin-right: 10px">
    <img src="{{FlagSuis}}" width="200" height="110">
  </div>
  <br>
  <p><b>Faites votre pronostique pour les 2 premiers du GROUPE A :</b></p>
  <div style=" display: inline-block; margin-left: 55px; margin-right: 50px">
    <img src="{{FlagAlle}}" width="50" height="30" style="margin-right: 10px">
    <img src="{{FlagEcos}}" width="50" height="30">
  </div>
  <div style=" display: inline-block; margin-left: 55px; margin-right: 50px">
    <img src="{{FlagAlle}}" width="50" height="30" style="margin-right: 10px">
    <img src="{{FlagHong}}" width="50" height="30">
  </div>
  <div style=" display: inline-block; margin-left: 55px; margin-right: 50px">
    <img src="{{FlagAlle}}" width="50" height="30" style="margin-right: 10px">
    <img src="{{FlagSuis}}" width="50" height="30">
  </div>
  <div style=" display: inline-block; margin-left: 55px; margin-right: 50px">
    <img src="{{FlagEcos}}" width="50" height="30" style="margin-right: 10px">
    <img src="{{FlagAlle}}" width="50" height="30">
  </div>
  <div style=" display: inline-block; margin-left: 10px; margin-right: 10px">
    <button>1er Allemagne, 2ième Écosse</button>
  </div>
  <div style=" display: inline-block; margin-left: 10px; margin-right: 10px">
    <button>1er Allemagne, 2ième Hongrie</button>
  </div>
  <div style=" display: inline-block; margin-left: 15px; margin-right: 10px">
    <button>1er Allemagne, 2ième Suisse</button>
  </div>
  <div style=" display: inline-block; margin-left: 15px; margin-right: 10px">
    <button>1er Écosse, 2ième Allemagne</button>
  </div>
  <br>
  <br>
  <div style=" display: inline-block; margin-left: 55px; margin-right: 50px">
    <img src="{{FlagEcos}}" width="50" height="30" style="margin-right: 10px">
    <img src="{{FlagHong}}" width="50" height="30">
  </div>
  <div style=" display: inline-block; margin-left: 55px; margin-right: 50px">
    <img src="{{FlagEcos}}" width="50" height="30" style="margin-right: 10px">
    <img src="{{FlagSuis}}" width="50" height="30">
  </div>
  <div style=" display: inline-block; margin-left: 55px; margin-right: 50px">
    <img src="{{FlagHong}}" width="50" height="30" style="margin-right: 10px">
    <img src="{{FlagAlle}}" width="50" height="30">
  </div>
  <div style=" display: inline-block; margin-left: 55px; margin-right: 50px">
    <img src="{{FlagHong}}" width="50" height="30" style="margin-right: 10px">
    <img src="{{FlagEcos}}" width="50" height="30">
  </div>
  <div style=" display: inline-block; margin-left: 20px; margin-right: 10px">
    <button>1er Écosse, 2ième Hongrie</button>
  </div>
  <div style=" display: inline-block; margin-left: 30px; margin-right: 10px">
    <button>1er Écosse, 2ième Suisse</button>
  </div>
  <div style=" display: inline-block; margin-left: 25px; margin-right: 10px">
    <button>1er Hongrie, 2ième Allemagne</button>
  </div>
  <div style=" display: inline-block; margin-left: 15px; margin-right: 10px">
    <button>1er Hongrie, 2ième Écosse</button>
  </div>
  <br>
  <br>
  <div style=" display: inline-block; margin-left: 55px; margin-right: 50px">
    <img src="{{FlagHong}}" width="50" height="30" style="margin-right: 10px">
    <img src="{{FlagSuis}}" width="50" height="30">
  </div>
  <div style=" display: inline-block; margin-left: 55px; margin-right: 50px">
    <img src="{{FlagSuis}}" width="50" height="30" style="margin-right: 10px">
    <img src="{{FlagAlle}}" width="50" height="30">
  </div>
  <div style=" display: inline-block; margin-left: 55px; margin-right: 50px">
    <img src="{{FlagSuis}}" width="50" height="30" style="margin-right: 10px">
    <img src="{{FlagEcos}}" width="50" height="30">
  </div>
  <div style=" display: inline-block; margin-left: 55px; margin-right: 50px">
    <img src="{{FlagSuis}}" width="50" height="30" style="margin-right: 10px">
    <img src="{{FlagHong}}" width="50" height="30">
  </div>
  <div style=" display: inline-block; margin-left: 25px; margin-right: 10px">
    <button>1er Hongrie, 2ième Suisse</button>
  </div>
  <div style=" display: inline-block; margin-left: 20px; margin-right: 10px">
    <button>1er Suisse, 2ième Allemagne</button>
  </div>
  <div style=" display: inline-block; margin-left: 25px; margin-right: 10px">
    <button>1er Suisse, 2ième Écosse</button>
  </div>
  <div style=" display: inline-block; margin-left: 30px; margin-right: 10px">
    <button>1er Suisse, 2ième Hongrie</button>
  </div>
  <br>
  <br>
  <button>Aller vers le pronostic de classement suivant --></button>
</div>
