<div class="poll-card">
  <h2>Pronostiquer le score du match 1/52</h2>
  <a routerLink="/polls">Back</a>
  <table>
    <tr>
      <th></th>
      <th>Victoire</th>
      <th>Null</th>
      <th>Defaite</th>
      <th>Total Points</th>
    </tr>
    <tr>
      <td class="center-left">Suisse</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <td class="center-left">Allemagne</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <td class="center-left">Écosse</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <td class="center-left">Hongrie</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </table>
  <br>
  <p>Rencontre - ALLEMAGNE vs ÉCOSSE - vendredi 14 juin 2024 à 21:00 :</p>
  <img src="http://www.drapeaux-du-monde.fr/drapeaux-du-monde/3000/drapeau-allemagne.jpg" width="300" height="200">
  <img src="https://th.bing.com/th/id/OIP.sL8nUgarl5Yv4C8quXSyQwHaHa?rs=1&pid=ImgDetMain" width="250" height="200">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/10/Flag_of_Scotland.svg/langfr-1920px-Flag_of_Scotland.svg.png" width="300" height="200">
  <p>Pronostiquez les bons résultats de ce match ici :</p>
  <div class="buttons-container">
    <button>Victoire pour Allemagne -> PTS +3</button>
    <button>Null -> PTS +1</button>
    <button>Victoire pour Écosse -> PTS +3</button>
  </div>
  <br>
  <br>
  <button>Aller vers le pronostic du match suivant --></button>
</div>
